<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.unesc.diego.exerciciocomponentes" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/menu">
        </activity>
        <activity
            android:name=".CadastrarActivity"
            android:label="@string/cadastro">
        </activity>
        <activity
            android:name=".Cadastrar2Activity"
            android:label="@string/cadastro">
        </activity>
        <activity
            android:name=".Consultar2Activity"
            android:label="@string/consulta">
        </activity>

    </application>

</manifest>
